.nameerror,
.phoneerror,
.emailerror {
    color: red;
    display: none;
}

.form_aaplication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.input_container__main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h4 {
    background-color: #52D857;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-align: center;
    position: relative;
    top: -50px;
    left: 43%;
    display: inline;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    width: 150%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid #52D857;
}

button {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    color: black;
    background-color: #52D857;
    font-size: medium;
    font-weight: bold;
}

input:focus {
    outline: none;
}

.input_container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.input_container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #52D857 solid;
    border-radius: 25px;
    padding: 100px;
}


    @media (max-width: 599px) {
        h4 {
            left: 17%;
        }
        span{
            font-size: 8px;
        }
        .input_container__main {
            margin: 5px;
        }
    }  